body {
    background: #f7faff;
    font-family: 'Graphik cy web', sans-serif;
    font-size: 14px;
}

@font-face {
    font-family: 'Graphik cy web';
    src: url('https://daks2k3a4ib2z.cloudfront.net/59768f4e168b18234cc1a238/598b7b5f7658f50001a051df_Graphik-Black-Cy-Web.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}